<app-sidebar></app-sidebar>
<app-toolbar></app-toolbar>
<app-card></app-card>
<div class="blank_div">
  <div class="em">
    <b>Employees </b>
    <div class="count">{{ collection.length }}</div>
  </div>

  <div class="btns">
    <input class="searchbar" type="text" placeholder="Search" name="search" />

    <button class="Add-user" (click)="openAddEmpForm()">
      <img [src]="addBtnImagePath" alt="addBtnImage" /> Add
    </button>

    <button class="filter">
      <img [src]="filterImagePath" alt="filterImage" />
    </button>

    <button class="idcard">
      <img [src]="idCardImagePath" alt="idCardImage" />
    </button>

    <button class="table1">
      <img [src]="tableImagePath" alt="tableImage" />
    </button>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Role</th>
      <th scope="col">Type</th>
      <th scope="col">Mobile Number</th>
      <th scope="col">Email Address</th>
      <th scope="col">Skills</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of collection">
      <td>{{ item.name }}</td>
      <td>{{ item.role }}</td>
      <td>{{ item.type }}</td>
      <td>{{ item.mobile }}</td>
      <td>{{ item.email }}</td>
      <td>{{ item.skills }}</td>
      <td>
        <i
          (click)="deleteDetails(item.id)"
          class="fa fa-trash"
          style="font-size: 20px; color: rgb(186, 185, 185); margin-top: 10px"
        ></i>
      </td>

      <td>
        <i
          class="fa fa-edit"
          (click)="openEditForm(item)"
          style="font-size: 20px; color: rgb(186, 185, 185); margin-top: 10px"
        ></i>
      </td>
    </tr>
  </tbody>
</table>

<div class="blank_div1">
  <mat-paginator
    [length]="200"
    [pageSizeOptions]="[10, 50, 100]"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
