.responsive-icon {
  display: flex;
  justify-content: end;
  margin-top: 1px;
  margin-bottom: 6px;

  margin-left: 4.7em;
  height: 4em;
  width: 95%;
  gap: 1em;
}
.toolbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: white;
  border-bottom: 1px solid #e8e9ee;
  height: 45px;
  width: 100%;
}
.bell-icon {
  width: 28px;
  height: 28px;
}
.profile-icon {
  width: 28px;
  height: 28px;
}
