
.employee-details{
    background-color: #ffffff;
    padding-left: 20px; 
    margin-top: 10px; 
    font-family: poppins
}
.details-row{
    display: flex;
    justify-content: flex-start;
    margin: 42px 21px; 
    gap:21px;
}
.form-group{
    width: 18em;
    height: 40px;
}
.form-control{
    width: 100%;
    height: 100%;
}
// .btns{
//     margin-left: 37em;
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }
// .btn{
//     height: 40px;
// }
.personal-details{
    padding-top: 0px;
    margin-top: -2.5em;
    border-color: #E8E9EE;
}
.div1{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(232, 233, 238, 1);
    height: 21.5em;
    width: 560px;
    margin-top: 6px;
    margin-left: 16px;
    font-family: poppins;   
}
.hori{
    margin: 0px 0;
    color:solid rgba(232, 233, 238, 1);
    height: 1px;
}
.h2{
    padding-left: 10px;
}
.cancelBtn{
    margin: 16px 8px; 
    margin-left: 383px;
}
.validation{
    color:red; 
    font-size: 12px; 
    margin-left: 6px;
}